ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li a {
  width: 15rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #f0f0f0;
}
li a img {
  max-width: 26rem;
  max-height:  10rem;
  min-width: 26rem;
  min-height: 10rem;
  object-fit:cover;
}

li a:hover {
  opacity: 0.9;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.50rem;
  height: 60px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.name {
  flex: 1 1 auto;
  margin-right: 1rem;
}

.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categories a{
  background-color: #f0f0f0;
  padding: .3rem 1rem;
  margin: .2rem .15rem;
  border-radius: 10rem;
  color: rgb(106, 0, 255);
}
