<div class="categories" *ngIf="categories">
  <a (click)="getAllItems()">All</a>
  <a *ngFor="let category of categories" routerLink="/categories/{{category.categoryID}}">
    {{category.categoryName}}
  </a>
</div>
<ul>
  <li *ngFor="let item of items">
    <a>
      <img src="{{item.itemImageURL}}" alt="">
      <div class="content">
        <div class="name">{{item.itemName}}</div>
        <div class="price"><span>{{item.itemPrice | currency:"ILS"}}</span></div>
      </div>
    </a>
  </li>
</ul>
