.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.table {
  background-color: inherit;
  width: 150px;
  height: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;

}

mat-card-title {
  background-color: inherit;
  border: none;
  margin: 5%;
  align-self: flex-start;
}

mat-card-content {
  margin: 0;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-busy {
  background-color: green;
}