table {
  width: 775px;
  border-radius: 20px;
}

 td {
  text-align: center;
  padding: 5px;
  background-color: #FAFAFA;
}

th {
  text-align: center;
  padding: 5px;
  background-color: #EAF0F0;
  color: black;
}


.paymentButton {
  background-color: #8AE6F9;
  border-radius: 10px;
  border: none;
  color: white;
  width: 84px;
  height: 39px;
  font-size: 14px;
}
