<div class="container">
    <ul>
        <li *ngFor="let orderItem of order.items">
            <div>
                <img [src]="orderItem.menu.imageUrl" [alt]="orderItem.menu.name">
            </div>

            <div>
                <a routerLink="/menu/{{orderItem.menu.id}}">
                    {{orderItem.menu.name}}
                </a>
            </div>

            <div>
                <select #quantitySelect (change)="changeQuantity(orderItem,quantitySelect.value)">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

            <div>
                {{orderItem.price | currency}}
            </div>

            <div>
                <button class="remove-button" (click)="removeFromOrder(orderItem)">
                    Remove
                </button>
            </div>
        </li>
    </ul>

    <div class="checkout">
        <div>
            <div class="foods-count">{{order.items.length}}</div>
            <div class="total-price">{{order.totalPrice| currency}}</div>
        </div>
    </div>
     
</div>
  

   