/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif ,Quicksand ;
  font-size: 18px;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';
